@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
  font-family: 'Roboto Condensed', sans-serif;
}

.error {
  margin-top:100px;
  display:flex;
  align-items : center ;
  justify-content: space-evenly;
}

.error .right {
  text-align: center;
}

.error .left img{
  max-width:100%;
  border-radius: 10px;
}